@import 'tailwindcss';

.btn-primario{
background-color:rgb(0, 255, 119);
color: black;
padding: 10px 20px;
border: none;
border-radius: 15px;

}
.btn-secundario{
  background-color:blue;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  
  }

  .btn-desativado{
    background-color:rgb(255, 0, 0);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    
    }

    .carro{

      background-color: rgb(0, 172, 246);
      height: 200px;
      width: 350px;
      margin: 20px;
      padding: 10px 20px;
      border: none;
     border-radius: 15px;
     
    }

    .foto{
      height: 75px;
      width: 85px;

    }

    .card-cima{
      display: flex ;
      gap: 55px;
    }

    .card-baixo{
  
      display: flex;
      flex-direction: column;
    }

    .info{
      background-color:rgb(200, 216, 241);
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 15px;

    }
    
   

    .carro{
      background-color: rgb(106, 8, 49);
      height: 200px;
      width: 350px;
      margin: 15px;
      padding: 10px 20px;
      border: none;
      border-radius: 15px;
      
     

    }


    .mac{

      background-color: rgb(155, 167, 173);
      height: 200px;
      width: 350px;
      margin: 20px;
      padding: 10px 10px;
      border: none;
     border-radius: 15px;
     
    }
    .react{

      background-color: rgb(0, 172, 246);
      height: 200px;
      width: 350px;
      margin: 20px;
      padding: 10px 20px;
      border: none;
     border-radius: 15px;
     
    }

    .cards{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      
      
    }